.profile-avatar {
  display: block;
}

.profile-avatar :deep(.v-btn__content) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-radius: 50%;
  overflow: hidden;

  & > img {
    width: 100%;
    flex: 1 1 auto;
  }
}