.v-btn::v-deep {
  background: #EEEEEE;
}

#delete-file-actions .v-btn::v-deep {
  background: transparent;
}

.add-attachment-form {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  .v-input {
    flex: 1 0 100%;
  }
}

.v-list-item-title {
  max-width: 60vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge {
  position: absolute;
  right: 10px;
}