.good {
  opacity: 0.6;

  .v-list-item-title {
    text-decoration: line-through;
  }
}

:deep(.v-list-item__content) {
  display: flex;
  align-items: center;

  .v-input {
    flex: 0 1 auto
  }

  .v-list-item-title {
    flex: 1 1 auto;
  }
}
