.calendar-switch { 
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    flex: 1 1 auto;
  }

  .v-input {
    flex: 0 1 auto;

    .v-label {
      display: none;
    }
  }
}

.v-dialog .dialog-card {
  width: 90vw;
}